<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>YQ DESIGN</title>
    <link rel="shortcut icon" href="../favicon.ico"><link href="../static/css/vendors.42ed76f4.css?451b9a331fef1ab4461e" rel="stylesheet"><link href="../static/css/index.eee1ed50.css?451b9a331fef1ab4461e" rel="stylesheet"></head>
    <body>
        <div id="root"></div>
    <script type="text/javascript" src="../static/vendors.42ed76f4.js?451b9a331fef1ab4461e"></script><script type="text/javascript" src="../static/index.eee1ed50.js?451b9a331fef1ab4461e"></script></body>
</html>

